@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.slick-slide > div{
  margin: 0px 10px 0px 0px;
}


@layer utilities {
  .container {
    @apply max-w-[1280px] mx-auto;
  }
}